n8n-workflows/complaint-tracker.json
{
  "name": "Complaint Tracker",
  "nodes": [
    {
      "parameters": {
        "webhookId": "complaint-tracker"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://frontend:3000/api/tickets",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "complaint"
            },
            {
              "name": "customerId",
              "value": "={{ $json.customerId }}"
            },
            {
              "name": "category",
              "value": "={{ $json.intent.category || 'Genel' }}"
            },
            {
              "name": "description",
              "value": "={{ $json.transcript }}"
            }
          ]
        }
      },
      "id": "create-complaint",
      "name": "Create Complaint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "Yeni şikayet oluşturuldu: {{ $json.transcript }}"
            }
          ]
        }
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "sla-check",
      "name": "SLA Check (24h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Create Complaint", "type": "main", "index": 0 }]]
    },
    "Create Complaint": {
      "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}

