n8n/workflows/2-appointment-flow.json
{
    "name": "📅 Appointment Flow — Randevu Yönetimi",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "appointment-flow",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "wh-appointment",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "appointment-flow"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:8999/webhook/context",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session_id\": \"{{ $json.sessionId }}\",\n  \"type\": \"appointment\",\n  \"data\": {\n    \"customer_name\": \"{{ $json.arguments?.customer_name || '' }}\",\n    \"customer_phone\": \"{{ $json.arguments?.customer_phone || '' }}\",\n    \"date\": \"{{ $json.arguments?.date || '' }}\",\n    \"time\": \"{{ $json.arguments?.time || '' }}\",\n    \"doctor\": \"{{ $json.arguments?.doctor || '' }}\",\n    \"notes\": \"{{ $json.arguments?.notes || '' }}\",\n    \"status\": \"scheduled\",\n    \"tenant_id\": \"{{ $json.tenantId || '' }}\"\n  },\n  \"priority\": \"high\",\n  \"source\": \"n8n_appointment\"\n}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "ctx-appointment",
            "name": "Save Appointment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"action\": \"appointment_created\",\n  \"message\": \"Randevu başarıyla oluşturuldu\",\n  \"date\": \"{{ $json.arguments?.date || '' }}\",\n  \"time\": \"{{ $json.arguments?.time || '' }}\"\n}"
            },
            "id": "res-appointment",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                760,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Save Appointment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Appointment": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "pinData": {},
    "tags": []
}