n8n/workflows/whatsapp-voice-handler.json
{
    "name": "WhatsApp Voice Request Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "whatsapp_webhook",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.entry[0].changes[0].value.messages[0].type }}",
                            "operation": "equals",
                            "value2": "audio"
                        }
                    ]
                }
            },
            "id": "is_audio",
            "name": "Is Audio Message?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://graph.facebook.com/v17.0/{{ $json.entry[0].changes[0].value.messages[0].audio.id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get_audio_url",
            "name": "Get Audio URL",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                200
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $json.url }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download_audio",
            "name": "Download Audio",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.PERSONAPLEX_URL }}/transcribe",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{ $env.PERSONAPLEX_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "audio",
                            "value": "={{ $binary.data }}"
                        },
                        {
                            "name": "language",
                            "value": "tr"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "transcribe_audio",
            "name": "Transcribe with Personaplex",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.PERSONAPLEX_URL }}/infer",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{ $env.PERSONAPLEX_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ $json.transcript }}"
                        },
                        {
                            "name": "persona",
                            "value": "support"
                        }
                    ]
                },
                "options": {}
            },
            "id": "infer_intent",
            "name": "Infer Intent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v17.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.entry[0].changes[0].value.contacts[0].wa_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.response_text }}\"\n  }\n}",
                "options": {}
            },
            "id": "send_reply",
            "name": "Send WhatsApp Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1560,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "noData",
                "options": {}
            },
            "id": "respond_200",
            "name": "Respond 200",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1780,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "text",
                            "value": "={{ $json.entry[0].changes[0].value.messages[0].text.body }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "extract_text",
            "name": "Extract Text",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                680,
                400
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Is Audio Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Audio Message?": {
            "main": [
                [
                    {
                        "node": "Get Audio URL",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Audio URL": {
            "main": [
                [
                    {
                        "node": "Download Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Audio": {
            "main": [
                [
                    {
                        "node": "Transcribe with Personaplex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribe with Personaplex": {
            "main": [
                [
                    {
                        "node": "Infer Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Infer Intent": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text": {
            "main": [
                [
                    {
                        "node": "Infer Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Reply": {
            "main": [
                [
                    {
                        "node": "Respond 200",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "whatsapp",
        "voice",
        "personaplex"
    ],
    "triggerCount": 1
}